html {
	font-family: Liberation Sans GillSans, Calibri, Trebuchet, sans-serif;
}
body{
	
}
.content {margin-top: 55px;}

.navbar{
	margin-bottom: 0;
	padding-left: 50px !important;
	padding-right: 50px;
	/*border-bottom: 0.5px solid;*/
	background-color:  #2c3e50 ;
}
/*Navigaton Toggle Color Change or Visible*/
.nav-item{
	padding-left: 15px;
}
.navbar-brand{
	color:#FF5733;
  font-variant: small-caps;
  font-weight: bold;
}

#navbarNavDropdown ul li a {
  color:#FF5733;
  font-variant: small-caps;
  font-weight: bold;
}

.card {
	
}
.card-deck{
	padding-right: 5px;
	padding-left: 5px;
}

@media (max-width: 990px) {
	.resizeimg {
		height: auto;
	}
}

@media (min-width: 1000px) {
	.resizeimg {
		width: auto;
		height: 350px;
	}
}
.wmd-panel{
	margin-right: 0px !important;
	margin-left: 0px !important;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}

.comment-reply{
	display: none;
}
.card-header{
	height: 50px;
	overflow: hidden;
}
.card-body {
	height: 200px;
	overflow: hidden;
	margin: 0px;
}

a.card-action{
	text-decoration: none !important;
	color: black;
}

.vertical-center{
  height: 91vh;
  margin-bottom: 0px;
  text-align: center;
  font: 0/0 a;  
}
#id_content{
	/*height: 100px;*/
	/*overflow: scroll;*/
}