<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <title>{% block head_title %} Blog {% endblock head_title %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="author" content="shivaguntuku" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css"> -->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/blog_list_index.css' %}" type="text/css">
</head>

{% block head_extra %} {% endblock head_extra %}

<body>
  <!--Navigation Bar -->
  <div id="app" class="container">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-faded">
      <a class="navbar-brand" href="#" style="color:#FF5733;">GSP</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"  data-target="#navbarNavDropdown" 
        aria-controls="navbarNavDropdown" aria-expanded="false" 
        aria-label="Toggle navigation">
        <span style="color:#FF5733;">
          <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
        </span>
      </button>
      <div id="navbarNavDropdown" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'posts:list' %}">
              Home</a>
            <!-- {% block post_detail_line %}{% endblock %} -->
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li> -->
        </ul>
        <ul class="navbar-nav">
          <!-- {% if not request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>  -->   
          <!-- {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
          {% endif %} -->
          <li class="nav-item">
            <form method="GET" action="" class="form-inline my-2 my-lg-0">
              <input class="form-control" type="text" name="q"  placeholder="Search Posts"  value="{{ request.GET.q }}" />
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="content">
    <!--Block Content Start Here -->
    {% block content %}{% endblock %}
  </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
{# <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> #}
<script type="text/javascript">
$(document).ready(function(){
    $(".content-markdown").each(function(){
            var content = $(this).text()
            console.log(content)
            var markedContent = marked(content)
            console.log(markedContent)
            $(this).html(markedContent)
    })
    $(".post-detail-item img").each(function(){
            $(this).addClass("img-responsive");
    })
    
    var contentInput = $("#id_content");

    function setContent(value){
        var markedContent = marked(value)
        $("#preview-content").html(markedContent)
        $("#preview-content img").each(function(){
            $(this).addClass("img-responsive")
        })
    }
    setContent(contentInput.val())

    contentInput.keyup(function(){
        var newContent = $(this).val()
        setContent(newContent)
    })

    var titleInput = $("#id_title");
    
    function setTitle(value) {
        $("#preview-title").text(value)
    }
    setTitle(titleInput.val())

    titleInput.keyup(function(){
        var newContent = $(this).val()
        setTitle(newContent)
    })

    $(".comment-reply-btn").click(function(event){
        event.preventDefault();
        $(this).parent().parent().next(".comment-reply").fadeToggle();
    })
})
</script>
</body>
</html>