{% extends 'base.html' %}
{% block content %}
<!-- <h1>{{ title }}</h1> -->

<!-- Cards Styling Code -->
<br/>
<!-- Display code -->
<main role='main'>
  <ol class="timeline">
    {% for obj in object_list %}
    <li>
        <a class="timeline-title" href="{{ obj.get_absolute_url }}">{{ obj.title }}</a>
      {% if obj.draft %} 
        <small> Draft </small> 
          {% if obj.publish > today %} 
            <small> Future Post </small>
          {% endif %} 
      {% endif %}
      <h6 class="timeline-time">Last Update: {{ obj.timestamp|date}}</h6>
      <h6 class="timeline-author">
        {% if obj.user.get_full_name %} 
        Author : {{obj.user.get_full_name}}
        {% endif %}
      </h6>
    <!-- </a> -->
      <button aria-label='Hi'></button>
    </li>
    {% endfor %}
  </ol>
</main>

<!-- Pagination Code -->
<!-- <div class="container">
  <ul class="pagination">
    <li class="page-item disabled">
      {% if object_list.has_previous %}
        <a href="?page={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
      {% endif %}
    </li>

    <li class="page-item">
      Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
    </li>

    <li class="page-item">
      {% if object_list.has_next %}
        <a href="?page={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
      {% endif %}
    </li>
  </ul>
</div>  -->
       
{% endblock content %}