{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %} Create Post | {{block.super}} {% endblock head_title %}
{% block head_extra %} {{ form.media }}{% endblock head_extra %}
{% block content %}
    <br/>
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="container">
            <h3>Create Blog Post</h3>
            <form method="POST" action="" enctype="multipart/form-data">
              {% csrf_token %}
              {{form|crispy}}<br/>
              <input type="submit" class="btn btn-primary" value="Create Post">
            </form>
          </div>
          </div>
          <div class="col-sm-6" style="overflow-y: scroll; height:800px;">
            <h3>Preview</h3>
            <div class="container">
            <div class="content-preview">
              <h4 id="preview-title"></h4>
              <p id="preview-content"></p>    
            </div>
          </div> 
        </div>
      </div>
    </div>
    </div>
{% endblock content %}