{% extends "base.html" %}
% load crispy_forms_tags %}
{% block head_title %} {{ instance.title }} | {{block.super}} {% endblock head_title %}


{% block post_detail_line %}
    <a href="{{ instance.get_absolute_url }}">{{ instance.title }}</a>
{% endblock %}


{% block content %}
<div class="content">
  <div class="card">
    <h2>
      <a href="{{ instance.get_absolute_url }}">{{ instance.title }}</a>
    </h2>

    <p style="text-align:left;" class="date">
      {{ instance.updated|date}}
      <span style="float:right;">
        Read Time : {% if instance.read_time|time:'i' <= "01" %} < 1 minute 
        {% else %}{{ instance.read_time|time:"i" }} minutes 
        {% endif %}</span>
    </p>
    
    <p class="text">
      {% if instance.image %}
        <img src="{{ instance.image.url }}" class="img-responsive">
      {% endif %}
      {{ instance.get_markdown }}
    </p>
    <p align="right" class="date">
      Author : {{ instance.user.get_full_name }}
    </p>
  </div>
</div>
{% endblock content %}