{% extends 'base.html' %}
{% block content %}
<!-- <h1>{{ title }}</h1> -->

<!-- Cards Styling Code -->
<br/>
<div class="container">
<div class="row">
  <div class="col-sm-12">
    <div class="card-deck">
    {% for obj in object_list %}
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header text-muted text-center">
          <a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a> 
            {% if obj.draft %} 
            <small> Draft </small> 
              {% if obj.publish > today %} 
                <small> Future Post </small>
              {% endif %} 
            {% endif %}
        </div>

        <div class="card-image">
          {% if obj.image %}
            <img src="{{ obj.image.url }}" class="img-responsive">
          {% endif %}      
        </div>

        <a class='card-action' href="{{ obj.get_absolute_url }}" 
            style="display:block">
          <div class="card-body post-detail-item">
            {{ obj.get_markdown }}
          </div>
        </a>
        <div class="card-footer text-muted">
          <small>Last Update {{ obj.timestamp|timesince}} ago
            {% if obj.user.get_full_name %} 
              || Author : {{obj.user.get_full_name}}
            {% endif %}
          </small>
        </div>
      </div><br/>
    </div>
  {% endfor %}
  </div>
  </div>
</div>
</div>

<!-- Pagination Code -->
<div class="container">
  <ul class="pagination">
    <li class="page-item disabled">
      {% if object_list.has_previous %}
        <a href="?page={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
      {% endif %}
    </li>

    <li class="page-item">
      Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
    </li>

    <li class="page-item">
      {% if object_list.has_next %}
        <a href="?page={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
      {% endif %}
    </li>
  </ul>
</div> 
       
{% endblock content %}