{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %} {{ instance.title }} | {{block.super}} {% endblock head_title %}
	
{% block content %}
<!-- {% load markdown_deux_tags %} -->
	{{ object }}
	<p>{{ comment.content }}</p>
	<footer>
		<small>--via {{comment.user}} | 
			{{ comment.timestamp|timesince }} ago | 
			{% if comment.children.count > 0 %}
				{{ comment.children.count }}
				Comment{% if comment.children.count > 1 %}s{% endif %} | {% endif %}
		</small>
	</footer>
	<hr/>
	<div>
		{% for child_comment in comment.children %}
			<blockquote>
				<p>{{ child_comment.content }}</p>
				<footer>
					<small>--via {{comment.user}} | {{ comment.timestamp|timesince }} ago</small>
				</footer>
			</blockquote>
		{% endfor %}
		<form method="POST" action=".">
			{% csrf_token %}
			{{ form|crispy }}
			<input type="hidden" name="parent_id" value="{{ comment.id }}">
			<input type="submit" value="Reply" class="btn btn-default">
		</form>
	</div>
	

{% endblock content %}
